%h1 Listing supermercados

%table
  %tr
    %th Nome
    %th Endereco
    %th Complemento
    %th Bairro
    %th Cidade
    %th Estado
    %th Cep
    %th Latitude
    %th Longitude
    %th
    %th
    %th

  - @supermercados.each do |supermercado|
    %tr
      %td= supermercado.nome
      %td= supermercado.endereco
      %td= supermercado.complemento
      %td= supermercado.bairro
      %td= supermercado.cidade
      %td= supermercado.estado
      %td= supermercado.cep
      %td= supermercado.latitude
      %td= supermercado.longitude
      %td= link_to 'Show', supermercado
      %td= link_to 'Edit', edit_supermercado_path(supermercado)
      %td= link_to 'Excluir', supermercado, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Supermercado', new_supermercado_path
