= simple_form_for(@categoria) do |f|
  = f.error_notification

  .form-inputs
    = f.input :descricao , label: 'Descrição'
    = f.association :setor, label_method: :nome

  .form-actions
    = f.button :submit, 'Salvar'
